body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: rgb(6, 2, 2);
  padding: 100px;
  border-radius: 19px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(1, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 40px;
  color: #00ffff;
  font-family: Georgia;
}

#options button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #564c4c;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  transition: background-color 0.2s ease-in-out;
}

#options button:hover {
  background-color: #e1e1e1;
}

#next-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #20efcd;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width:20%;
  height:100%;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 40px;
}

#next-btn:hover {
  background-color: #dde10b;
}

#timer {
  font-weight: bold;
  color: #e74c3c;
  margin: 10px 0;
}

#progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0%;
  background-color: #3498db;
  transition: width 0.3s ease-in-out;
}
 
@media (max-width: 600px) {
  .quiz-container {
    padding: 15px;
  }

  #options button, #next-btn {
    width: 100%;
    font-size: 14px;
  }
}
.question {
  color: white;
  font-family: 'Times New Roman';
  font-size: 25px;
}
.main {
  color:#00ffff;
  font-family: Georgia;
}
.para {
  color:#ff0022;
 font-family:monospace;
  font-size: 50px;
}
.graph {
  color:#00ffff;
  font-family: Georgia;
  font-size: 30px;
  font-weight: 300%;
}
.btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #20efcd;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width:30%;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 40px;
}
.first {
  margin-top: 70px;
  color:#00ffff;
  font-family: Georgia;
}

.footer-bar {
  width: 100%;
  background-color: #0ff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 15px #0ff;
}

.footer-bar p {
  margin: 0;
  color: #000;
  font-weight: bold;
  font-size: medium;
}
